# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swp file
*.swp

vsprojects/Debug/
vsprojects/Release/
vsprojects/bin/
vsprojects/*.opensdf
vsprojects/*.sdf
vsprojects/*.suo
vsprojects/.vs/

abuild/*
build/*
win32/*

core.*
*.out

*.orig

apps/evnsq/evnsqtail/evnsqtail


vsprojects/.vs/
vsprojects/bin/
vsprojects/libsimcc.VC.VC.opendb
vsprojects/libsimcc.VC.db
*.vcxproj.user
res

